@blue: #006dcc;

.k-listview {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.feed-image .placeholder {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.thumb {
    width: 50px;
    height: 50px;
}

.icon-medium {
    font-size: 2em;
}

.star {
    color: grey;
    cursor: pointer;
}

.star:hover, .star.selected {
    color: @blue;
}

.thumbnail-tray {
    margin: 10px;
}

.thumbnail-white {
    background-color: white;
}

.load-more {
    height: 200px;
}

.well {
    padding: 0px;
}

.comment {
    font-size: 1.5em;
}

.padded {
    padding-top: 20px;
}

.spinner {
    display: none;
}

.navbar-inverse .brand {
    border: 0;
    margin-top: 5px;
}

#content {
    margin-top: 125px;
}

.detail-actions {
    margin: 15px 0px 0px 15px;
}

.new-comment {
    width: 80%;
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
 
/* 
    responsive video - stolen from Foundation
    https://gist.github.com/jgarber/2302238
*/
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

.thumbnail>video {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto
}