<div class="row">
    <div class="span6 offset3">
        <h1>Your Pictures</h1>
    </div>
</div>

<div id="self" data-role="listview" data-bind="source: items" data-template="feed-template"></div>

<div class="row load-more">
    <div class="span6 offset3">
        <a class="btn btn-primary" data-bind="invisible: loading, click: more">Load More</a>
        <div class="progress progress-striped active" data-bind="visible: loading">
            <div class="bar" style="width: 100%;"></div>
        </div>
    </div>
</div>


