@using InstaSharp
@using InstaSharp.Samples.MVC

@{
    // create the auth url
    var scopes = new List<OAuth.Scope>();
    scopes.Add(OAuth.Scope.Likes);
    scopes.Add(OAuth.Scope.Comments);

    var instance = InstaSharpConfig.Instance;

    var link = OAuth.AuthLink(instance.config.OAuthURI + "/authorize", instance.config.ClientId,
    instance.config.RedirectURI, scopes, OAuth.ResponseType.Code);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InstaSharp</title>
     @Styles.Render("~/Content/bootstrap.min.css")
     @Styles.Render("~/Content/bootstrap-responsive.min.css")
     @Styles.Render("~/Content/flat-ui.css")
</head>
<body>
  
    <div class="container">
         <div class="hero-unit">
            <h1>Athenticate Thyself</h1>
            You need to <a href="@link" class="button">authenticate</a> with Instagram please and thank you.
        </div>
    </div>

</body>
</html>