@{
    var scopes = new List<InstaSharp.Auth.Scope>();
    scopes.Add(InstaSharp.Auth.Scope.Basic);   
}
            
<div class="hero-unit">
    <h2>Athenticate Thyself</h2>
    <a href="@ViewBag.AuthLink" class="button">Authenticate To Instagram</a>
</div>
